# web-server
export API_PORT=
export JWT_SECRET=

# web-server + postgres
export DB_HOST=
export DB_PORT=
export DB_NAME=
export DB_USER_NAME=
export DB_PASSWORD=

# webrtc-signaling
export SIGNALING_PORT=

# web-client
export VITE_API_BASE_URL=http://web-server:80
export VITE_SIGNALING_SERVER_HOST=http://webrtc-signaling:4444/signaling

# prod certificates
export APP_DOMAIN=domain.com
export SSL_EMAIL=your-email@domain.com
