# web-server
export API_PORT=
export JWT_SECRET=

# web-server + postgres
export DB_HOST=
export DB_PORT=
export DB_NAME=
export DB_USER_NAME=
export DB_PASSWORD=

# web-client
export VITE_API_BASE_URL=http://web-server:80

